* { margin: 0; padding: 0; }
body {
  font-family: "Microsoft YaHei UI";
  overflow: hidden;
  padding-bottom: 1px;
  background: #F7F6F6;
}

/* 翻页条 */

/*#fanye {
  width: 100%;
  height: 40px;
  font-size: 13px;
  line-height: 40px;
  text-align: center;
  margin: 23px auto;
}
#fanye>div {
  width: 40px;
  height: 40px;
  background: #FFF;
  display: inline-block;
  cursor: pointer;
}
#fanye>ul {
  display: inline-block;
  background: #FFF;
  list-style: none;
}
#fanye>ul>li {
  width: 40px;
  height: 40px;
  display: inline-block;
  word-spacing: 0;
  cursor: pointer;
}
#fanye #fanye_pre {
  border-radius: 5px 0 0 5px;
}
#fanye #fanye_next {
  border-radius: 0 5px 5px 0;
}*/

#kczystj_fanye {
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  padding: 30px 0;
}
#kczystj_fanye ul {
  margin: 0 5px;
  display: inline-block;
}
#kczystj_fanye li {
  color: #666;
  margin: 0 10px;
  cursor: pointer;
  list-style: none;
  display: inline-block;
}
#kczystj_fanye #rows {
  color: #999;
  margin-right: 23px;
  font-size: 14px;
}
#kczystj_fanye .fanye_options {
  color: #666;
  width: 61px;
  height: 21px;
  border: none;
  margin: 0 5px;
  outline: none;
  cursor: pointer;
  line-height: 21px;
  background: #E1E1E1;
}
#kczystj_fanye #tp {
  width: 53px;
  height: 19px;
  outline: none;
  margin-right: 8px;
  border: 1px solid #D3D2D2;
}
#kczystj_fanye #tp::-webkit-input-placeholder {
  text-align: center;
}

/*--------------------------------------------------------------*/

/*option*/
#kczystj_filter {
  padding: 10px 30px;
  line-height: 20px;
  background: #FFF;
}
#kczystj_filter>select {
  height: 20px;
  margin-right: 30px;
  font-size: 12px;
  outline: none;
  vertical-align: middle;
  border: 1px solid #009361;
  color: #009361;
}
#kczystj_filter>#filter_college {
  width: 240px;
}
#kczystj_filter>#filter_department {
  width: 160px;
}
#filter_name {
  height: 18px;
  width: 200px;
  outline: none;
  color: #009361;
  margin-left: 28px;
  padding-left: 5px;
  vertical-align: middle;
  border: 1px solid #009361;
}
#filter_name::-webkit-input-placeholder { /* WebKit browsers */
  color:#009361;
}
#filter_name:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:#009361;
}
#filter_name::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:#009361;
}
#filter_name:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:#009361;
}
#btn {
  width: 40px;
  height: 20px;
  color: #FFF;
  cursor: pointer;
  margin-left: 54px;
  line-height: 20px;
  background: #009361;
  vertical-align: middle;
  border: 1px solid #009361;
}
#kczystj_lists #kczystj_table {
  min-height: 570px;
  background: #FFF;
  box-shadow: 0 14px 17px -12px rgba(120,120,120,.20);
}
#kczystj_lists table {
  width: 100%;
  font-size: 14px;
  background: #FFF;
  text-align: center;
  border-collapse: collapse;
}

#kczystj_lists thead {
  color: #FFF;
}

#kczystj_lists thead tr td {
  height: 40px;
  background: #009361;
}
#kczystj_lists .lefttd,
#kczystj_lists .righttd {
  width: 25px;
  background: transparent;
}
#kczystj_lists .lefttd>div,
#kczystj_lists .righttd>div {
  width: 25px;
  height: 100%;
}
#kczystj_lists thead tr td.lefttd>div,
#kczystj_lists thead tr td.righttd>div {
  background: #009361;
}
#kczystj_lists .lefttd>div {
  border-radius: 3px 0 0 3px;
}
#kczystj_lists .righttd>div {
  border-radius: 0 3px 3px 0;
}
#kczystj_lists tbody tr td {
  height: 52px;
  border-bottom: 1px solid #EEEEEE;
}
#kczystj_lists tbody tr.noborder td {
  border-bottom: none;
}
#kczystj_lists tbody tr td.lefttd,
#kczystj_lists tbody tr td.righttd {
  border-bottom: none;
}



