* { margin: 0; padding: 0; }
body{background: #ccc;}
#body-c {
	height: 500px;
	/*background: #ccc;*/
	width: 1120px;
	margin: 0 auto;
}

/*标题*/
.title>span {
	color: #007a51;
	font-size: 20px;
	display: inline-block;
}

/*内容容器*/
.container {
	padding: 26px 29px;
	background: #FFF;
}
#fuzeren {
	padding: 19px 0 0 0;
}
.fuzeren {
	width: 480px;
	display: inline-block;
}
.fuzeren>img, .teachers>img {
	vertical-align: middle;
	width: 89px;
	height: 94px;
	border: 1px solid #CCCCCC;
	padding: 18px 12px;
}
.msg {
	display: inline-block;
	vertical-align: top;
	padding: 0 0 30px 30px;
}
.msg>span {
	display: block;
	font-size: 16px;
	color: #666666;
	font-weight: 200;
	margin-bottom: 10px;
	word-break: break-all;
}
.xueyuan {
	width: 200px;
	display: inline-block;
	vertical-align: middle;
}

#teachers {
	padding: 40px 0 0 0;
}
.teachers {
	float: left;
	font-size: 16px;
	/*font-weight: 200;*/
	text-align: center;
	margin-right: 22px;
	margin-bottom: 19px;
	width: 120px;
	height: 180px;
	line-height: 19px;
}
.teachers p {
	color: #666666;
}

.xy {
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
}

#React-fuzeren,#React-teachers {
	min-height: 150px;
	overflow: hidden;
}


/* 团队介绍 */
#tdjs {
	margin-top: 20px;
	font-weight: 200;
	line-height: 1.75em;
	font-size: 16px;
	color: #999999;
}


