/*--------页面公共部分样式----------*/
div,body,ul,li,img{
	font-family: "Microsoft Yahei UI" ! important;
	padding:0;
	margin:0;
}
body {
	background: #f7f7f7;
}
/*-----------各模块-------------*/
#width {
	/*clear: */
	width : 1182px;
	margin:0 auto;
	position:relative;
	height:inherit;
}

#head{
	width: 100%;
	height:125px;
	background-color: #fff;
	margin-bottom: 30px;
}

#wrap{
	width: 100%;
	/*min-height: 900px;*/
	background-color: #f7f7f7;
	
}

#wrap #containBg{
	width: 1182px;
	min-height:718px;
	background-color: #fff;
	/*float: left;*/
	margin-top:20px;
	clear: both;
}

/*-------标志模块----------*/
#head img{
	float: left;
	margin-top:36px;
}

/*--------列表页样式----------*/
#containBg #contain{
	width:1088px;
	float:left;
	margin-left:47px;
}

#contain #title{
	font-size: 20px;
	color:#007a51;
	text-align: center;
}

#contain #time{
	float: right;
	height:73px;
}

#time li{
	list-style: none;
	float: right;
	margin-right: 20px;
	font-size: 16px;
	color:#333;
}

#contain #center{
	width: 930px;
	min-height:100px;
	float: left;
	/*margin-left:79px;*/
	padding: 10px 80px;
	border:1px dashed #ccc;
	border-left: none;
	border-right: none;
}

#center #text{
	min-height: 50px;
	font-size: 16px;
	color:#333;
}

#center #annex{
	min-height: 29px;
	float: left;
}

#annex li{
	color:#007a51;
	list-style: square;
}

#annex li a{
	font-size: 14px;
	color:#2397e8;
	text-decoration: none;
	cursor: pointer;
}

#contain #up{
	float: right;
	margin-top:20px;
	clear: both;
}

#up li{
	list-style: none;
}

#up li a{
	text-decoration: none;
	font-size: 16px;
	color:#007a51;
}
#up li a:hover{
	color:#04cd89;
}

/* footer */
#footer{
	margin-top: 30px;
  height:71px;
  background-color: #007a51;
  text-align: center;
}
#footer .copyRight{
  font-size: 16px;
  color: #ffffff;
  height:71px;
  line-height: 71px;
}
